<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shou.mapper.SelectMapper">
    <insert id="addSelect" parameterType="Select">
        insert into `select`(s_account, vid) values (#{sAccount}, #{vid})
    </insert>
    <select id="selectByStudent" parameterType="String" resultMap="actAndInfo">
        select s.vid,vname,management_teacher_account,score from voluntary_activity v,`select` s
        where s.s_account = #{account} and s.vid = v.vid
    </select>
    <delete id="deleteSelect" parameterType="Select">
        delete from `select` where s_account = #{sAccount} and vid = #{vid}
    </delete>
    <delete id="deleteAllAboutAct" parameterType="int">
        delete from `select` where vid = #{vid};
    </delete>
    <delete id="deleteAllAboutStudent" parameterType="String">
        delete from `select` where s_account = #{account}
    </delete>
    <select id="selectByTeacher" parameterType="String" resultMap="scoreMap">
        select s.vid,vname,s_account,score from `select` s,`voluntary_activity` v
        where v.management_teacher_account = #{account} and s.vid=v.vid
    </select>
    <update id="updateScore" parameterType="Select">
        update `select` set score = #{score}
        where vid = #{vid} and s_account = #{sAccount}
    </update>
    <resultMap id="actAndInfo" type="ActScInfo">
        <result property="tAccount" column="management_teacher_account"/>
    </resultMap>
    <resultMap id="scoreMap" type="ActScInfo">
        <result property="tAccount" column="s_account"/>
    </resultMap>
</mapper>