<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shou.mapper.SelectMapper">
    <insert id="addSelect" parameterType="Select">
        insert into `select`(s_account, vid) values (#{sAccount}, #{vid})
    </insert>
    <select id="selectByStudent" parameterType="String" resultType="Select">
        select * from `select` where s_account = #{account}
    </select>
    <delete id="deleteSelect" parameterType="Select">
        delete from `select` where s_account = #{sAccount} and vid = #{vid}
    </delete>
</mapper>